[Config]

# Stack Exchange API keys & credentials
read_key=IAkbitmze4B8KpacUfLqkw((
#write_key=key_key_key_key
#write_token=token_token_token

# ChatExchange credentials
#ChatU=androidoverflow@example.com
#ChatP=asdfghjkl

# Site settings
site=android.stackexchange.com
site_id=139

# Log control
log_level = 0
file_log_level = 2
log_file = log.txt

# Repo information
repo_slug = iBug/AndroidOverflow
